*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containers{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.photo{
    width: 40%;
    height: 80%;
    background-color: pink;
}
.myInfo{
    width: 40%;
    height: 80%;
    background-color: blue;
}