*{
  margin:
  0;
  padding:
  0;
  box-sizing:
  border-box;
}
.footer{
  width:
  100%;
  height:
  20vh;
  display:
  flex;
  flex-direction:
  row;
  justify-content:
  space-evenly;
}
.footer
{
  background-color:
  green;
  color:
  #fff;
  padding:
  20px;
  display:
  flex;
}
.footer-row
{
  display:
  flex;
  justify-content:
  space-between;
  margin-bottom:
  20px;
  width:
  100%;
  height:
  100%;
  justify-content:
  center;
  padding-left:
  50px;
}
.footer-column
{
  width:
  24%;
  height:
  100%;
  display:
  flex;
  flex-direction:
  column
  
  ;
  gap:
  3px;
}
.footer-title
{
  font-weight:
  bold;
  display:
  flex;
  flex-direction:
  column;
  gap:
  10px;
}
.column{
  width:
  450px;
  height:
  90%;
  display:
  flex;
  flex-direction:
  column;
  gap:
  10px;
}
.footer-list
{
  list-style-type:
  none;
  padding:
  0;
}
.footer-list
li
{
  margin-bottom:
  10px;
}
.footer-link
{
  color:
  #fff;
  text-decoration:
  none;
}
.single{
  width:
  100vw;
  height:
  100vh;
  background-color:
  red;
}
a{
  border-bottom: 1px solid black;
}